In [1]:
# Import libraries
import numpy as np
import pandas as pd
from matplotlib.pyplot import plot as plt

In [2]:
# Read data from station "3"
station3_data = pd.read_csv('data/3/TA00647.csv')
station3_metadata = pd.read_csv('data/3/metadata.csv')

In [3]:
station3_data.head()

,timestamp (UTC),atmosphericpressure (kPa),precipitation (mm),radiation (W/m2),relativehumidity (-),temperature (degrees Celsius),winddirection (degrees),windgusts (m/s),windspeed (m/s)
0,2019-07-19 15:00,100.40,0.0,130.0,0.560,25.9,178.0,3.25,2.16
1,2019-07-19 15:05,100.40,0.0,121.0,NaN,25.8,178.0,2.81,1.57
2,2019-07-19 15:10,100.40,0.0,101.0,0.919,25.7,177.0,3.33,1.91
3,2019-07-19 15:15,100.39,0.0,51.0,0.913,25.5,181.0,4.32,2.07
4,2019-07-19 15:20,100.38,0.0,33.0,0.911,25.2,184.0,4.63,2.24

In [4]:
station3_data.tail()

,timestamp (UTC),atmosphericpressure (kPa),precipitation (mm),radiation (W/m2),relativehumidity (-),temperature (degrees Celsius),winddirection (degrees),windgusts (m/s),windspeed (m/s)
106849,2020-10-07 12:10,100.41,0.000,221.0,0.999,21.3,0.0,1.28,0.86
106850,2020-10-07 12:15,100.40,0.068,227.0,0.997,21.2,15.0,1.32,0.73
106851,2020-10-07 12:20,100.38,0.102,224.0,1.000,21.3,335.0,1.15,0.52
106852,2020-10-07 12:25,100.37,0.034,224.0,0.999,21.4,268.0,0.85,0.45
106853,2020-10-07 12:30,100.36,0.017,232.0,1.000,21.3,277.0,0.94,0.54

In [5]:
station3_data.columns

Index(['timestamp (UTC)', 'atmosphericpressure (kPa)', 'precipitation (mm)',
       'radiation (W/m2)', 'relativehumidity (-)',
       'temperature (degrees Celsius)', 'winddirection (degrees)',
       'windgusts (m/s)', 'windspeed (m/s)'],
      dtype='object')

In [6]:
station3_data.rename(columns={'timestamp (UTC)': 'timestamp_(UTC)', 
                              'atmosphericpressure (kPa)': 'atmospheric_pressure_(kPa)', 
                              'precipitation (mm)': 'precipitation_(mm)',
                              'radiation (W/m2)': 'radiation_(W/m2)', 
                              'relativehumidity (-)': 'relative_humidity_(-)',
                              'temperature (degrees Celsius)': 'temperature_(degrees_Celsius)', 
                              'winddirection (degrees)': 'wind_direction_(degrees)',
                              'windgusts (m/s)': 'wind_gusts_(m/s)', 
                              'windspeed (m/s)': 'wind_speed_(m/s)'
                             }, inplace=True)

In [7]:
station3_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106854 entries, 0 to 106853
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   timestamp_(UTC)                106854 non-null  object
 1   atmospheric_pressure_(kPa)     106497 non-null  float64
 2   precipitation_(mm)             106497 non-null  float64
 3   radiation_(W/m2)               106497 non-null  float64
 4   relative_humidity_(-)          105746 non-null  float64
 5   temperature_(degrees_Celsius)  106295 non-null  float64
 6   wind_direction_(degrees)       106100 non-null  float64
 7   wind_gusts_(m/s)               105902 non-null  float64
 8   wind_speed_(m/s)               106100 non-null  float64
dtypes: float64(8), object(1)
memory usage: 7.3+ MB

In [8]:
station3_data.duplicated().sum()

0

In [9]:
station3_data['timestamp_(UTC)'] = pd.to_datetime(station3_data['timestamp_(UTC)'])

In [10]:
station3_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106854 entries, 0 to 106853
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   timestamp_(UTC)                106854 non-null  datetime64[ns]
 1   atmospheric_pressure_(kPa)     106497 non-null  float64
 2   precipitation_(mm)             106497 non-null  float64
 3   radiation_(W/m2)               106497 non-null  float64
 4   relative_humidity_(-)          105746 non-null  float64
 5   temperature_(degrees_Celsius)  106295 non-null  float64
 6   wind_direction_(degrees)       106100 non-null  float64
 7   wind_gusts_(m/s)               105902 non-null  float64
 8   wind_speed_(m/s)               106100 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 7.3 MB

In [11]:
station3_data.describe()

,atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s)
count,106497.000000,106497.000000,106497.000000,105746.000000,106295.000000,106100.000000,105902.000000,106100.000000
mean,100.347285,0.008366,203.470999,0.861192,26.841681,200.106824,2.850078,1.341713
std,0.212431,0.145349,268.727402,0.128346,3.037000,43.194064,1.396842,0.606842
min,99.690000,0.000000,0.000000,0.160000,17.700000,0.000000,0.120000,0.080000
25%,100.210000,0.000000,0.000000,0.788000,24.400000,178.000000,1.810000,0.900000
50%,100.360000,0.000000,33.000000,0.904000,26.100000,190.000000,2.700000,1.270000
75%,100.500000,0.000000,376.000000,0.956000,28.800000,221.000000,3.720000,1.700000
max,101.050000,8.753000,1208.000000,1.000000,36.600000,359.000000,9.950000,5.450000

In [12]:
# Drop rows with any NA value to avoid us guessing values that might be wrong
station3_data.dropna(inplace=True)

In [13]:
station3_data.describe()

,atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s)
count,105171.000000,105171.000000,105171.000000,105171.000000,105171.000000,105171.000000,105171.000000,105171.000000
mean,100.349185,0.007890,204.657814,0.860887,26.855749,200.300102,2.856769,1.341645
std,0.212456,0.141344,269.323705,0.128364,3.037454,43.229023,1.395564,0.601525
min,99.690000,0.000000,0.000000,0.160000,17.700000,0.000000,0.120000,0.080000
25%,100.210000,0.000000,0.000000,0.787000,24.400000,178.000000,1.820000,0.900000
50%,100.360000,0.000000,34.000000,0.904000,26.100000,190.000000,2.710000,1.280000
75%,100.500000,0.000000,379.000000,0.956000,28.800000,221.000000,3.730000,1.700000
max,101.050000,8.753000,1208.000000,1.000000,36.600000,359.000000,9.950000,4.780000

In [14]:
station3_metadata

,station code,name,country,installation height (m),latitude,longitude,elevation (m),timezone
0,TA00647,"UG Greenhouse, Legon",GH,2,5.659788,-0.190434,82,Africa/Accra

In [15]:
station3_metadata.columns

Index(['station code', 'name', 'country', 'installation height (m)',
       'latitude', 'longitude', 'elevation (m)', 'timezone'],
      dtype='object')

In [16]:
station3_metadata.rename(columns={'station code': 'station_code', 
                                  'installation height (m)': 'installation_height_(m)',
                                  'elevation (m)': 'elevation_(m)'}, inplace=True)

In [17]:
station3_code = station3_metadata['station_code'].unique()[0]

In [18]:
station3_data['station_code'] = station3_code

In [19]:
station3_data.head()

,timestamp_(UTC),atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s),station_code
0,2019-07-19 15:00:00,100.40,0.000,130.0,0.560,25.9,178.0,3.25,2.16,TA00647
2,2019-07-19 15:10:00,100.40,0.000,101.0,0.919,25.7,177.0,3.33,1.91,TA00647
3,2019-07-19 15:15:00,100.39,0.000,51.0,0.913,25.5,181.0,4.32,2.07,TA00647
4,2019-07-19 15:20:00,100.38,0.000,33.0,0.911,25.2,184.0,4.63,2.24,TA00647
5,2019-07-19 15:25:00,100.39,0.051,35.0,0.915,25.0,181.0,3.95,2.16,TA00647

In [20]:
weather_df = station3_data.merge(station3_metadata, how='left', on='station_code')

In [21]:
weather_df.head()

,timestamp_(UTC),atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s),station_code,name,country,installation_height_(m),latitude,longitude,elevation_(m),timezone
0,2019-07-19 15:00:00,100.40,0.000,130.0,0.560,25.9,178.0,3.25,2.16,TA00647,"UG Greenhouse, Legon",GH,2,5.659788,-0.190434,82,Africa/Accra
1,2019-07-19 15:10:00,100.40,0.000,101.0,0.919,25.7,177.0,3.33,1.91,TA00647,"UG Greenhouse, Legon",GH,2,5.659788,-0.190434,82,Africa/Accra
2,2019-07-19 15:15:00,100.39,0.000,51.0,0.913,25.5,181.0,4.32,2.07,TA00647,"UG Greenhouse, Legon",GH,2,5.659788,-0.190434,82,Africa/Accra
3,2019-07-19 15:20:00,100.38,0.000,33.0,0.911,25.2,184.0,4.63,2.24,TA00647,"UG Greenhouse, Legon",GH,2,5.659788,-0.190434,82,Africa/Accra
4,2019-07-19 15:25:00,100.39,0.051,35.0,0.915,25.0,181.0,3.95,2.16,TA00647,"UG Greenhouse, Legon",GH,2,5.659788,-0.190434,82,Africa/Accra

In [22]:
weather_df.to_csv('data/clean/ug_greenhouse.csv', index=False)